/** 
	Ferris Americus Header
**/
#ferris_americus {
	font-family: 'Codystar', sans-serif;
	font-size: 2em;
	color: rgb(63, 0, 53);
	text-align: left;
	padding: .5em;
	letter-spacing: 1em;
	background-color: #efefef;
	border-bottom: 1px solid slateGrey;
	margin-bottom: .5em;
	-moz-box-shadow: 0px 3px 3px #ccc;
	-webkit-box-shadow: 0px 3px 3px #ccc;
	box-shadow: 0px 3px 3px #ccc;
	text-shadow: 0px 0px 2px lightYellow, 0px 3px 5px gray;
}

#about_link {
	font-family: 'Raleway Dots', sans-serif;
	font-size: .7em;
	letter-spacing: 1.5em;
	position: absolute;
	top: .5em;
	right: 0em;
	text-shadow: 0px 0px 2px lightYellow, 0px 3px 5px gray;
	width: 11em;
	height: 1em;
}

#ferris_americus a {
	text-decoration: none;
}

#about_link a {
	color: DodgerBlue;
	text-decoration: none;
}
#about_link a:link, #ferris_americus a:link {}
#about_link a:visited, #ferris_americus a:visited {}
#about_link a:hover {
	text-shadow: 0px 0px 2px yellow, 0px 3px 5px gray;
}
#ferris_americus a:hover {
	text-shadow: 0px 0px 2px Khaki, 0px 3px 5px gray;
}
#about_link a:active, #ferris_americus a:active {
	color: darkOrange;
}

/** 
	Pieces Index
**/
.pieces {
	margin-left: 3.5em;
}

.piece {
	display: inline-block;
	vertical-align: middle;
}

.piece img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.piece .title {
	width: 200px;
	display: block;
	margin-top: 0.5em;
}

.piece a {
	font-family: 'Codystar', sans-serif;
	color: DodgerBlue;
	font-weight: bold;
	text-decoration: none;
	background-color: #efefef;
	font-size: 1.5em;
	display: inline-block;
	padding: 1em;
	margin: 1em;
	border: 1px dotted #ccc;
}

.piece a:link {}
.piece a:visited {
	color: BlueViolet;
}
.piece a:hover {
	color: deepPink;
	border: 1px dotted deepPink;
}
.piece a:active {
	color: darkOrange;
	border: 1px dotted darkOrange;
}

/**
	Show piece
**/
.show_piece {
	font-family: 'Raleway Dots', sans-serif;
	width: 96%;
	margin-left: auto;
	margin-right: auto;
}

.show_piece .title {
	font-size: 2em;
	color: #a5a;
	text-align: center;
	margin-top: 2%;
	margin-bottom: 1%;
	letter-spacing: .5em;
}

.show_piece .date {
	font-weight: bold;
	text-align: right;
}

.show_piece .images {
	text-align: center;
}

.show_piece .images img {
	border: 1px dotted #ccc;
	background-color: #efefef;
	padding: 2em;
	margin: .5em;
}

.show_piece .description p {
	font-size: 1.2em;
	letter-spacing: .2em;
	margin-bottom: 2%;
	font-weight: bold;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

/**
	About page
**/
.information {
	font-family: 'Raleway Dots', sans-serif;
	width: 96%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.information img {
	border: 1px dotted #ccc;
	background-color: #efefef;
	padding: 2em;
	margin: .5em;
}

.information p {
	text-align: left;
	font-size: 1.2em;
	color: BlueViolet;
	letter-spacing: .2em;
	margin-bottom: 2%;
	font-weight: bold;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

/** 
	Error messages and notices
**/
.flash_notice {
	font-family: 'Raleway Dots', sans-serif;
	color: LightGreen;
	width: 100%;
	text-align: center;
}

.flash_error {
	font-family: 'Raleway Dots', sans-serif;
	color: Crimson;
	width: 100%;
	text-align: center;
}